#brittanie-image {
  height: 500px;
  width: 400px;
}
@media only screen and (max-width: 600px) {
  body {
  }
}
@media only screen and (max-width: 400px) {
  body {
  }
}

@media only screen and (max-width: ) {
  body {
  }
}
.navbar, .navbar-extend, .navbar-expand-lg, .navbar-expand-md, .navbar-extend-sm, .navbar-light, .bg-light{
  background-color: .bg-light {
    background-color: #FFC6B6;
;
}
form {
  margin-left: 150px;
}
#exampleFormControlInput1 {
  padding: 30px;
  width: 500px;
}
#navbarText {
  float: right;
}

#britt-about {
  text-align: center;
}
